<p class="text-center">OUR MENU </p>

<hr>
<div class="container">
    <div class="col-lg-12">
        <ul class="list-group list-group-horizontal " style="position: relative; font-size: x-large; ">

            <ul>
                <img src="https://i.pinimg.com/originals/1d/6b/97/1d6b974287a08f85394ec233fe41f35a.jpg" alt="" style="height: 80px; width: 80px; align-content: left;"><br>


                <li style="color: blue; font-size:larger; font-weight: 800; text-align: left;">EXPRESSO</li>
                <hr>
                <li>Expresso With Syrup</li>
                <li>Double Expresso With Syrup</li>
                <li>Expresso Romance</li>
                <li>Expresso Con Panna</li>
                <li>Expresso Macchiato</li>
            </ul>

            <ul>
                <img src="https://i.pinimg.com/originals/1d/6b/97/1d6b974287a08f85394ec233fe41f35a.jpg" alt="" style="height: 80px; width: 80px;"><br>
                <li style="color: blue; font-size:larger; text-align: center; font-weight: 800;">CAPPUCCINO </li>
                <hr>
                <li style="text-align: center;">Cappuccino</li>
                <li style="text-align: center;">Capuchitta</li>
                <li style="text-align: center;">Melange</li>
                <li style="text-align: center;">Rough Coffeea</li>
            </ul>
            <ul>
                <img src="https://i.pinimg.com/originals/1d/6b/97/1d6b974287a08f85394ec233fe41f35a.jpg" alt="" style="height: 80px; width: 80px;"><br>
                <li style="color: blue; font-size:larger; text-align: right; font-weight: 800;">AMERICANO</li>
                <hr>
                <li style="text-align: right;">Americano</li>
                <li style="text-align: right;">Syrup Americano </li>
            </ul>
        </ul>
    </div>
</div>
